#not including the build files
TablePrinter/TablePrinter/bin
TablePrinter/TablePrinter/obj
TablePrinter/TablePrinterDemo/bin
TablePrinter/TablePrinterDemo/obj

#Visual Studio project files
TablePrinter/.vs
*.sln
*.csproj