#not including the build files
TablePrinter/TablePrinter/bin
TablePrinter/TablePrinter/obj
TablePrinterDemo/TablePrinterDemo/bin
TablePrinterDemo/TablePrinterDemo/obj

#Visual Studio project files
TablePrinter/.vs
TablePrinterDemo/.vs
*.sln
*.csproj